.color-marker__container {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.color-circle {
  display: inline-block;
  min-width: 15px;
  width: 15px;
  height: 15px;
  background-color: #000;
  border-radius: 50%;
  margin-right: 5px;
  border: 1px solid #000;
}
