.schema-picker-container {
  position: absolute;
  top: -20px;
  left: 50%;
  width: 70%;
  display: flex;
  align-items: center;
  gap: 5px;
  border-bottom: 1px solid #cfcfcf;
  border-radius: 0;
  transform: translate(-50%, 0%);
}

.stickerPreview {
  .schema-picker-container {
    top: -50px;
  }
}

