@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  background-color: var(--color-bg);
}

.full-screen-page-container {
  width: 100vw;
  height: calc(100vh - var(--header-height));
}

@media screen and (max-width: 900px) and (orientation: landscape) {
  body::before {
    content: "ХУЙ ПАКА 📱";
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    inset: 0;
    background: #fff;
    color: #000;
    font-size: 1.2rem;
    text-align: center;
    z-index: 9999;
    padding: 1rem;
  }
}

@media (max-width: 600px) {
  .full-screen-page-container {
    height: calc(100vh - 104px);
  }
}

@media (max-width: 400px) {
  .full-screen-page-container {
    height: calc(100vh - 145px);
  }
}

