.stickerPreview {
  position: relative;

  .sticker {
    background: #fff;
    border: 1px solid rgba(0,0,0,0.12);
    border-radius: 12px;
    overflow: hidden;
    width: min(92vw, 320px);
    aspect-ratio: 2 / 3;

    .sticker__content {
      display: flex;
      flex-direction: column;
      justify-content: center;
    }

    .sticker__canvas {
      position: relative;
      //padding: clamp(10px, 2.2vw, 16px);
      height: 100%;
    }

    .sticker__content {
      padding: 0 16px;
    }

    .sticker__content,
    .sticker__layer
    {
      height: 100%;
    }

    .main-inputs-container--block {
      margin-bottom: 7%;

      &:last-child {
        margin-bottom: 0;
      }

      input {
        margin-bottom: 2%;
      }
    }

    .main-inputs-container {
      margin-bottom: 10%;
    }

    .sticker-input--name {
      display: none;
      font-size: clamp(16px, 3.2vmin, 36px);
      font-weight: 800;

      &::placeholder {
        color: #4a4a4a !important;
      }
    }

    .sticker-input--title {
      font-size: clamp(16px, 3vmin, 36px);
      font-weight: 800;

      &::placeholder {
        letter-spacing: 0.08em;
        text-transform: uppercase;
      }
    }

    .sticker-input--highlighted-text {
      font-size: clamp(12px, 3.2vmin, 25px);
      color: #fff;
      border-radius: 5px;
      padding: 5px 0;

      &::placeholder {
        color: #fff!important;
      }

      @media screen and (max-width: 1024px) {
        & {
          padding: 2px;
        }
      }
    }

    .discount-input-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: clamp(18px, 3vmin, 36px);

      .discount-input-wrapper__label {
        font-weight: 500;
      }

      .sticker-input--discount {
        font-size: clamp(18px, 3vmin, 36px);
        width: auto;
        max-width: 100px;
        text-align: left;
        font-weight: 800;
        margin-left: 3px;
      }

      .discount-input-wrapper__suffix {
        font-size: clamp(18px, 3vmin, 36px);
        font-weight: 800;
      }
    }

    .promo-input-wrapper {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 6px;

      .promo-input-wrapper__label {
        font-size: clamp(15px, 2vmin, 25px);
        font-weight: 500;
      }

      .sticker-input--promo {
        font-size: clamp(15px, 2vmin, 25px);
        font-weight: 800;
        width: auto;
        max-width: 150px;
        text-align: left;
        text-transform: uppercase;
      }

      .promo-input-wrapper__suffix {
        font-size: clamp(15px, 2vmin, 36px);
        font-weight: 800;
      }
    }

    .phone-input-wrapper {
      display: inline-flex;
      align-items: center;
      gap: 6px;

      .phone-input-wrapper__prefix {
        font-weight: 800;
        line-height: 1;
        user-select: none;
        font-size: inherit;
      }

      .sticker-input--phone {
        width: auto;
        min-width: 6ch;
      }
    }

    .sticker-input--address {
      resize: none;
      overflow: hidden;
      display: inline-block;
    }

    .sticker-input--phone,
    .sticker-input--address
    {
      font-size: clamp(12px, 2vmin, 18px);
    }
  }
}

.stickerPreview__paper {
  display: grid;
  place-items: center;
  padding: 16px;
}

/* ЕКРАН: адаптивний preview */


/* ===== PRINT: real 2x3 inches ===== */
@media print {
  .no-print { display: none !important; }
  .stickerPreview__paper { padding: 0; }

  .sticker {
    width: 2in !important;
    height: 3in !important;
    border: 2px dashed #e3e3e3 !important; // TODO: Remove when we start testing with our printer
    aspect-ratio: auto;
    // border-radius: 0;
  }

  .sticker__content {
    padding: 0 3mm !important;
  }

  .sticker-input--title {
    font-size: 16pt !important;
  }

  .sticker-input--highlighted-text {
    font-size: 12pt !important;
    padding: 2pt 0 !important;
  }

  .discount-input-wrapper {
    font-size: 14pt !important;

    .discount-input-wrapper__label {
      font-weight: 600 !important;
    }

    .sticker-input--discount {
      font-size: 14pt !important;
      position: relative;
      top: 2px;
    }

    .discount-input-wrapper__suffix {
      font-size: 14pt !important;
    }
  }

  .promo-input-wrapper {
    .promo-input-wrapper__label {
      font-size: 12pt !important;
      font-weight: 600;
    }

    .sticker-input--promo,
    .promo-input-wrapper__suffix
    {
      font-size: 13pt !important;
    }
  }

  .sticker-input--phone,
  .sticker-input--address
  {
    font-size: 10pt !important;
  }

  .qr-code::after {
    font-size: 6.5pt !important;
    bottom: -12px;
    padding: 2px;
  }
}

@page {
  margin: 0;
}
