.grid-order__container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.map__container {
  width: 100%;
  height: 500px;
}

.create-new-option {
  padding-left: 13px!important;

  span {
    padding-left: 2px;
  }
}

@media screen and (max-width: 600px) {
  .map__container {
    width: 100%;
    height: 300px;
  }
}
