.qr-code-and-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.customer-logo {
  width: 50%;
  height: auto;
  object-fit: contain;
  display: block;
}

.qr-code {
  width: 35%;
  max-width: 140px;
  position: relative;
  border: 3px solid yellowgreen;
  border-radius: 5px;
  box-sizing: border-box;

  &::before {
    content: "";
    display: block;
    padding-top: 100%;
  }

  &::after {
    font-size: 12px;
    position: absolute;
    content: "SCAN ME!";
    background-color: yellowgreen;
    color: white;
    bottom: -11px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0 2px;
    border-radius: 3px;
    white-space: nowrap;

    @media screen and (max-width: 1024px) {
      & {
        font-size: 9px;
      }
    }
  }
}

.qr-code__inner {
  position: absolute;
  inset: 3px;
  border-radius: 3px;
  overflow: hidden;

  display: flex;
  align-items: center;
  justify-content: center;
}

/* Що б не було всередині */
.qr-code__inner svg,
.qr-code__inner canvas,
.qr-code__inner img {
  width: 100%;
  height: 100%;
  display: block;
}

@media (max-width: 768px) {
  .qr-code {
    width: min(35%, 120px);  // ⬅️ ключова формула
  }
}
