.qr-code-and-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;

  @media screen and (max-width: 400px) {
    & {
      justify-content: space-around;
    }
  }

  .customer-logo {
    width: 50%;
    height: 100%;
  }

  .qr-code {
    width: 35%;
    height: 90%;
    mix-blend-mode: multiply;
    position: relative;
    right: 3px;
    bottom: 3px;

    @media screen and (max-width: 400px) {
      & {
        width: 30%;
        height: 70%;
      }
    }
  }
}

