.page-global-wrapper {
  overflow: hidden;
}

.proto-header,
.proto-footer {
  height: 65px;
  background: #fff;
  border-bottom: 1px solid #ddd;

  display: flex;
  align-items: center;
  justify-content: center;
  color: #666;
  font-size: 14px;
}

.redactor-page-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100vh - 130px);
  width: 100vw;
  // background: #f5f5f5;
  overflow: hidden;
}

.coffee-cup-wrapper {
  position: relative;
  width: clamp(300px, 70vmin, 900px);
  aspect-ratio: 1 / 1;

  @media screen and (max-width: 465px) {
    width: clamp(300px, 100vmin, 900px);
  }
}

.coffee-cup__image {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
}

.sticker__image {
  position: absolute;
  top: 63%;
  left: 52%;
  width: 42%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  pointer-events: none;
}

.sticker__image_shadow {
  position: absolute;
  top: 63%;
  left: 52%;
  width: 42%;
  transform: translate(-50%, -50%);
  object-fit: contain;
  pointer-events: none;
  z-index: 2;
}

.main-inputs-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5em;

  @media screen and (max-width: 400px) {
    & {
      gap: 0;
    }
  }
}

.main-inputs-container--block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 2px;
}

.sticker__layer {
  position: absolute;
  top: 63%;
  left: 52%;
  width: 42%;
  height: 50%;
  transform: translate(-50%, -50%);
  gap: 0.8em;
  padding: 0 4%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  align-items: center;
  z-index: 1;

  form {
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
    gap: 5px;
    height: 100%;
    justify-content: center;
  }
}
