.QR-code-modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;

  @media (max-width: 440px) {
    width: 330px;
  }
}

.qr-code-modal__actions {
  position: relative;

  .qr-code-edit-button {
    position: absolute;
    top: 50%;
    transform: translate(20%, -50%);
  }

  svg.qr-code {
    width: 70px!important;
    height: 70px!important;
  }
}
