.qr-code-modal-container {
  width: 115px;
  height: 115px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.QR-code-modal__container {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  background-color: #fff;
  border-radius: 6px;
  padding: 15px;
}

.qr-code-modal__actions {
  position: relative;
  width: 100%;
  height: 100%;
  top: 5px;
  mix-blend-mode: multiply;
}

.qr-code-modal__create {
  scale: 1.5;
}

.edit-qr-code__button {
  position: absolute;
}

@media screen and (max-width: 1400px) {
  .qr-code-modal__create {
    scale: 1.2;
  }
  .qr-code-modal-container {
    width: 100px;
    height: 100px;
  }

  .qr-code-modal__actions {
    svg {
      scale: 0.8;
    }
  }
}

@media (max-width: 600px) {
  .QR-code-modal__container {
    width: 340px;
  }

  .qr-code-modal-container {
    width: 100px;
    height: 74px;
    align-items: start;
  }

  .qr-code-modal__actions {
    scale: 0.7;
    top: -8px;
  }
  .qr-code-modal__create {
    scale: 1;
  }
}

@media (max-width: 400px) {
  .qr-code-modal__actions {
    scale: 0.7;
  }
  .qr-code-modal__create {
    top: 10px;
    scale: 1.1;
  }
}
