.qr-code-and-logo-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  height: auto;
}

.qr-code-container, .customer-logo-container{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: auto;
}
